        <div id="sidebar">
            <a class="res nav-btn" >
                <span class="icon icon-24" ></span>
                <span class="label">RSS</span>
            </a>
            <nav class="navigation">
                <ul class="nav-btn-list" >
                    <li class="nav-btn search" >
                        <a href="/blog/search"><span class="icon icon-16" ></span></a>
                        <span class="label">搜索</span>
                    </li>
                    <li class="nav-btn home" >
                        <a href="/"><span class="icon icon-16" ></span></a>
                        <span class="label">首页</span>
                    </li>
                    <li class="nav-btn post" >
                        <a href="/blog/articles/"><span class="icon icon-16" ></span></a>
                        <span class="label">文章</span>
                    </li>
                    <!-- <li class="nav-btn work" >
                        <span class="icon icon-16" ></span>
                        <span class="label">作品</span>
                    </li> -->
                    <li class="nav-btn git" >
                        <a href="https://github.com/maolion" target="_blank" ><span class="icon icon-16" ></span></a>
                        <span class="label">作品/代码仓库</span>
                    </li>
                    <li class="nav-btn about" >
                        <a target="_blank" href="/blog/about"><span class="icon icon-16" ></span></a>
                        <span class="label">关于</span>
                    </li>
                    <!-- <li class="nav-btn firends">
                        <span class="icon icon-16" ></span>
                        <span class="label">友情链接</span>
                    </li> -->
                    <li class="nav-btn contact" >
                        <a href="/blog/contact"><span class="icon icon-16" ></span></a>
                        <span class="label">联系/反馈</span>
                    </li>
                    <li class="nav-btn manage">
                        <a href="/manage/"><span class="icon icon-16" ></span></a>
                        <span class="label">博客管理中心</span>
                    </li>
                </ul>
            </nav>
        </div>
        <a href="#" id="to-top" ></a>

        